# PlatformIO
**/.pio/
**/.pioenvs/
**/.piolibdeps/
**/.clang_complete
**/.gcc-flags.json

# Python
**/__pycache__/
**/*.py[cod]
**/*$py.class
**/.env
**/.venv
**/env/
**/venv/
**/ENV/

# VS Code
**/.vscode/
**/*.code-workspace
**/.history/

# IDE
**/.idea/
**/*.swp
**/*.swo
**/*~

# OS
**/.DS_Store
**/Thumbs.db
